{{#if userBlogs}}
<button type="button" id="newBlogBtn" class="btn btn-secondary ml-5 my-4
 px-3">Click here to add a new blog post</button>

<div class= "singleBlog m-5 ">
{{#each userBlogs as |blog|}}
{{> blog-card}}
{{!-- </div> --}}


{{/each}}
</div> 
</div>
{{! Enter new blog }}
<div id="newBlog" style="display:none">
  <section style="background-color: #eee;">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-start align-items-center">

                <div>
                <input
                    class="form-control"
                    id="blogTitle"
                    rows="4"
                    style="background: #fff;"
                    placeholder="Blog title"
                  ></input>
                </div>
              </div>
            </div>
            <div
              class="card-footer py-3 border-0"
              style="background-color: #f8f9fa;"
            >
              <div class="d-flex flex-start w-100">

                <div class="form-outline w-100">
                  <textarea
                    class="form-control"
                    id="blogText"
                    rows="4"
                    style="background: #fff;"
                    placeholder="Enter your text here..."
                  ></textarea>
                </div>
              </div>
              <div class="float-end mt-2 pt-1">
                <button
                  id="postBlog"
                  class="btn btn-secondary btn-sm"
                >Post blog</button>
                <button
                  id="cancelBlog"
                  class="btn btn-outline-secondary btn-sm"
                >Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="/js/dashboard.js"></script>
{{/if}}




