
<div class="blogList">
{{#each existingPosts as |post|}}
{{> blog-post}}
{{/each}}
</div>

<script src="/js/blog.js"></script>
{{!-- <section class="container bg-dark d-flex justify-content-center mt-5 row pb-2">
 <a href="/login" class="headline  text-center">You must be logged in to access this feature!</a>
</section>
      --}}


