   <section class="d-flex justify-content-center mt-5 mx-3">
  <div class="card m-5 p-1 rounded shadow-lg" style="width: 18rem; background-color: #eee">
  <div class="card-body">
    <h5 class="card-title">Please log in</h5>
  </div>
   <div class="form-group">
   <label for="exampleInputPassword1">Username</label>
   <input type="text" class="form-control" id="inputUsername" placeholder="Username">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    
  </div>
  <div class="card-body">
      <button type="submit" class="btn btn-secondary"id="loginBtn">Submit</button>
    <a href="/register" class="card-link">Click here to register!</a>
  </div>
</div>
</section>
<script src="/js/login.js"></script>